<div class="flash exito">
<? if(isset($titulo)) { ?><h3 class="flash-titulo inline"><?=$titulo; ?></h3><? } ?> 
<? if(!empty($message)): ?>
<p>
<?=$message; ?>
</p>
<? endif; ?>
<span class="flash-inner"></span>
</div>
